<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="holamundo.com.tenderos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.Principal" />
        <activity android:name=".Tendero" />
        <activity android:name=".AgregarProducto" />
        <activity
            android:name=".ListaProductos"
            android:label="@string/title_activity_lista_productos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListaCompra"
            android:label="@string/title_activity_lista_compra"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DetalleProducto" />
        <activity
            android:name=".ClienteMain"
            android:label="@string/title_activity_cliente_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DetalleCompra" />
        <activity
            android:name=".Carrito"
            android:label="@string/title_activity_carrito"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DetalleCarrito" />
        <activity android:name=".Checkout" />
        <activity android:name=".DetalleVenta"/>
    </application>

</manifest>